<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Error | <%= title %></title>

    <%- include('../partials/static/css-bootstrap.ejs')  %> 

</head>
<body>
    <%- body  %> 
    <%- include('../partials/static/js-bootstrap.ejs')  %> 
</body>
</html>