<div class="modal fade" id="paymentQRModal" tabindex="-1" aria-labelledby="paymentQRModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content text-center p-3 border-0 shadow-sm">
      <div class="modal-header border-0">
        <h5 class="modal-title mx-auto" id="paymentQRModalLabel">Scan to Pay</h5>
      </div>
      <div class="modal-body">
        <img src="" id="qrcode-display" alt="Payment QR Code" class="img-fluid mb-3" style="max-width: 250px;">
      </div>
      <div class="modal-footer border-0">
        <button type="button" class="btn btn-secondary w-100" data-bs-dismiss="modal">
          Cancel
        </button>
      </div>
    </div>
  </div>
</div>
