<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-8 col-lg-6 text-center">
      <div class="alert alert-success">
        <i class="bi bi-check-circle me-2"></i>Payment completed successfully.
      </div>
      <a class="btn btn-primary" href="/wallet">Go to Wallet</a>
      <a class="btn btn-outline-secondary ms-2" href="/payments/scan">Scan Another</a>
    </div>
  </div>
</div>


